body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  h2 {
    font-size: 1.6rem;
    margin: 0;
  }

  h1, h2 {
    color: green;
  }

  h1, strong {
    color: blue; /* Change the text color to blue */
  }

  p, em {
    color: gray;
    margin: 0.5em 0;
  }
  ol {
    border: 2px solid purple;
  }

  ul {
    border: 2px dotted orange; /* Change border to dotted */
  }

  ol, ul {
    padding: 10px 20px; /* Increase the top and bottom padding to 10px */
    border-radius: 4px;
  }
   
  * {
    box-sizing: border-box;
  }